<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnEmptyTestSuite="true"
         failOnWarning="true"
         failOnDeprecation="false"
         failOnNotice="true"
         failOnIncomplete="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutCoverageMetadata="true"
>
    <php>
        <env name="KERNEL_CLASS" value="App\Kernel" force="true" />
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
    </php>
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage pathCoverage="true">
        <report>
            <text outputFile="var/coverage.txt" showUncoveredFiles="false" showOnlySummary="true" />
        </report>
    </coverage>
</phpunit>